.club-card {
  border: 1px solid gray;
  border-radius: 12px;
  padding: 1.5rem;
  margin-top: 2rem;
  text-align: left;
}

.club-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  cursor: pointer;
}